body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header,footer {
    background: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    align-items: center; 
    justify-content: center;
    padding: 0;
}

header a {
    margin-right: 20px; 
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}
.imageService{
    display: flex;
    justify-content: space-between;
}
.image_call{
    display: flex;
    justify-content: space-between; 
}

.imageService p {
    flex: 1;
    margin-right: 20px;
  }
  .image_call p{
    flex: 1;
    margin-right: 20px; 
  }

  .imageService img {
    max-width: 100px;
    height: auto;
    display: block;
  }
  .image_call img {
    max-width: 100px;
    height: auto;
    display: block;
  }

  p{
    margin-top: 5px; 
}
h2 {
    margin-bottom: 10px; 
}
#services-content{
    padding-top: 20px;
}


footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #333;
    color: #fff;
  }

.container {
    max-width: 900px;
    margin: auto;
}

.section-table {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .hidden{
    display: none;
  }



  